<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22881351001-g70akhkop72im1e7bdvif5rbsvl71k85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22881351001-g70akhkop72im1e7bdvif5rbsvl71k85</string>
	<key>API_KEY</key>
	<string>AIzaSyBm6trval5IkfLNcYbVzwMyU0fNheapD7s</string>
	<key>GCM_SENDER_ID</key>
	<string>22881351001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.couponApp</string>
	<key>PROJECT_ID</key>
	<string>coupon-6869f</string>
	<key>STORAGE_BUCKET</key>
	<string>coupon-6869f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22881351001:ios:dee09b0610da8570f68848</string>
	<key>DATABASE_URL</key>
	<string>https://coupon-6869f.firebaseio.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
</dict>
</plist>